body {
    background-color: #000;
}

.bg-body {
    background-color: transparent !important;
}

.stars {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 100%;
    z-index: 0;
    box-shadow: 30px 50px 3px 1px #fff, -5vw 14vh 1px 1px #fff,-9vw -3vh 3px 0px #fff,-34vw -22vh 2px 2px #fff,42vw 30vh 0px 3px #fff,-38vw 0vh 3px 3px #fff,-26vw 38vh 3px 2px #fff,8vw -25vh 1px 0px #fff,-3vw -2vh 1px 1px #fff,5vw 36vh 0px 3px #fff,43vw -23vh 3px 1px #fff,-38vw 27vh 0px 1px #fff,2vw 48vh 0px 1px #fff,-45vw 27vh 3px 3px #fff,-40vw 9vh 1px 3px #fff,41vw 26vh 3px 0px #fff,49vw 26vh 0px 0px #fff,-6vw -10vh 2px 0px #fff,-30vw -18vh 1px 0px #fff,-8vw 17vh 0px 2px #fff,-4vw -21vh 3px 1px #fff,-30vw 20vh 1px 0px #fff,17vw 40vh 3px 1px #fff,38vw -7vh 2px 0px #fff,29vw 47vh 1px 0px #fff,-40vw 35vh 3px 1px #fff,22vw -10vh 2px 1px #fff,-48vw 6vh 2px 3px #fff,41vw -11vh 3px 2px #fff,36vw 45vh 3px 0px #fff,33vw 4vh 2px 2px #fff,-36vw -23vh 1px 1px #fff,-7vw 20vh 3px 2px #fff,-2vw -33vh 2px 3px #fff,-16vw 46vh 2px 3px #fff,-37vw -22vh 0px 3px #fff,4vw 50vh 0px 2px #fff,1vw -26vh 1px 0px #fff,-21vw -30vh 2px 1px #fff,0vw -17vh 0px 2px #fff,-23vw -31vh 3px 0px #fff,25vw 30vh 3px 1px #fff,0vw -47vh 0px 1px #fff,35vw 2vh 0px 1px #fff,45vw -18vh 0px 0px #fff,-5vw -17vh 1px 2px #fff,-46vw -41vh 3px 2px #fff,33vw 42vh 2px 3px #fff,38vw -31vh 0px 3px #fff,-17vw 18vh 1px 0px #fff,-29vw -44vh 0px 2px #fff,-17vw 17vh 1px 2px #fff,14vw 37vh 3px 0px #fff,-6vw -5vh 0px 0px #fff,-1vw -5vh 0px 2px #fff,8vw 2vh 1px 1px #fff,-38vw -33vh 0px 3px #fff,28vw -1vh 1px 2px #fff,46vw -49vh 0px 1px #fff,-16vw 31vh 1px 3px #fff,-28vw 21vh 0px 1px #fff,-29vw -4vh 0px 2px #fff,-29vw -34vh 1px 0px #fff,7vw 22vh 0px 2px #fff,14vw -10vh 3px 1px #fff,-13vw 17vh 0px 0px #fff,27vw 0vh 0px 0px #fff,50vw -1vh 0px 1px #fff,-33vw 33vh 2px 3px #fff,44vw -9vh 3px 3px #fff,37vw 21vh 3px 0px #fff,11vw -14vh 2px 1px #fff,-15vw -9vh 0px 0px #fff,50vw 25vh 1px 0px #fff,39vw 14vh 0px 1px #fff,-19vw -24vh 1px 2px #fff,25vw 24vh 0px 1px #fff,-28vw 27vh 3px 0px #fff,8vw 48vh 2px 3px #fff,-32vw -33vh 3px 2px #fff,-37vw 36vh 2px 1px #fff,10vw 20vh 2px 0px #fff,-9vw 8vh 1px 2px #fff,25vw -27vh 1px 1px #fff,-19vw 32vh 0px 2px #fff,39vw -2vh 3px 2px #fff,-49vw -41vh 0px 2px #fff,-6vw 16vh 1px 1px #fff,-40vw 49vh 2px 2px #fff,45vw 14vh 1px 3px #fff,-3vw 36vh 2px 2px #fff,-16vw -13vh 2px 1px #fff,-38vw -27vh 3px 0px #fff,-38vw 43vh 1px 3px #fff,19vw -32vh 2px 2px #fff,-42vw -46vh 3px 0px #fff,32vw -24vh 0px 2px #fff,-23vw -20vh 3px 1px #fff,-17vw 50vh 2px 3px #fff,10vw -23vh 1px 2px #fff,11vw 32vh 2px 0px #fff;
    animation: floating 8s alternate infinite;
}

@keyframes floating {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.row {
    margin-right: 0px;
}